*{
	margin: 0;
	padding: 0;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
	background-color: rgb(3, 3, 65);
	height: 40px;
	padding: 15px;
	display: flex;
	align-items: center;
	color:white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 20px 3px black;
	position: sticky;
	top: 0px;
}

#logo{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin-right: 0.6rem;
	animation: spin 5s linear infinite;
}
@keyframes spin {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

#astrology{
	margin:2rem auto;
	justify-content: center;
}

#astrology h1{
	text-align: center;
	font-size: x-large;
	margin-bottom: 2rem;
	color: rgb(3, 3, 65);
}

form{
	padding:10px;
	background-color: rgb(3, 3, 65);
	color:white;
	width: 70vw;
	justify-self: center;
	border-radius: 10px;
	margin-bottom: 3rem;
}
form:hover{
	box-shadow: 0px 0px 20px 1px black;
}

.div{
	display: flex;
	justify-self: center;
	margin:1.5rem 0px;
}

.div input{
	width: 170px;
	height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#submit{
	display: flex;
	justify-self: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color:rgb(3, 3, 65);
	width: 110px;
	height: 30px;
	border-radius: 10px;
	font-weight: bolder;
	cursor: pointer;
}

#yourAstro{
	padding: 35px 10px;
	color: rgb(3, 3, 65);
	width: 70vw;
	justify-self: center;
	border: 5px solid rgb(3, 3, 65);
	border-radius: 10px;
	margin-bottom: 3rem;
	display: none;
}

#yourAstro:hover{
	box-shadow: 0px 0px 20px 3px black;
}

#yourAstro li{
	list-style-position: inside;
	margin:5px;
}

footer{
	background-color: rgb(3, 3, 65);
	color:white;
	text-align: center;
	height: 70px;
	padding-top:2rem;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

@media (min-width: 768px){
	.div input{
		width: 220px;
		height: 40px;
	}

	#submit{
		width: 130px;
		height: 40px;
	}

	footer{
		display: flex;
		justify-content: center;
	}
}